<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
    xmlns:layout="http://ultraq.net.nz">
<head>
    <!-- 1. CSS de uso geral (carrega primeiro) -->
    <link rel="stylesheet" th:href="@{/css/styles-admin.css}">
    
    <!-- Chama o CSS do header aqui no HEAD -->
    <th:block th:replace="~{admin/fragments/header :: header-css}"></th:block>
    
    <!-- Ícones do Bootstrap (para a Sidebar) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <!-- Chama o HTML do header aqui no BODY -->
    <div th:replace="~{admin/fragments/header :: header}"></div>
        
    <div class="gwj-content-wrapper"> 

        <!-- Chama o fragmento da Sidebar -->
        <th:block th:replace="~{admin/fragments/sidebar :: sidebar}"></th:block>

        <!-- Área principal onde o conteúdo será injetado pelo Thymeleaf Layout -->
        <main class="gwj-main-content" layout:fragment="content">
            <!-- Conteúdo principal sempre aparece -->
        </main>
    </div>
</body>
</html>
