<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
    xmlns:layout="http://ultraq.net.nz">
<head>
    <!-- 1. CSS de uso geral (carrega primeiro) -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <!-- Chama o CSS do header aqui no HEAD -->
    <th:block th:replace="~{fragments/header :: header-css}"></th:block>
    
    <!-- 3. (Opcional) CSS para o footer ou aside, se houver -->
    <!-- <link rel="stylesheet" th:href="@{/css/footer.css}"> -->

    <!-- Este bloco permite que páginas específicas (como a Home) 
        adicionem seus próprios estilos se necessário -->
    <th:block layout:fragment="additional-styles"></th:block>
</head>
<body>
    <!-- Chama o HTML do header aqui no BODY -->
    <div th:replace="~{fragments/header :: header}"></div>
        
    <div class="content-wrapper">
        <!-- O fragmento aside só será renderizado se a página filha o definir -->
        <aside id="sidebar" layout:fragment="aside-content">
            
        </aside>

        <main class="main-content" layout:fragment="content">
            <!-- Conteúdo principal sempre aparece -->
        </main>
    </div>


    <!-- Inclui o footer fixo -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
