<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://ultraq.net.nz">
<head th:replace="~{parts/header :: head}"></head>
<body>
    
    <!-- Substitui o antigo PHP include para inserir o header completo -->
    <div th:insert="~{parts/header}"></div>
        
    <div layout:fragment="content">
        <!-- Conteúdo principal injetado pelas views -->
    </div>

    <!-- Substitui o antigo PHP include para inserir o footer completo -->
    <div th:insert="~{parts/footer}"></div>
</body>
</html>
