.login-tela { /* Define o tamanho do container */
    display: flex; /* Ativa o Flexbox */
    justify-content: space-around; /* Centraliza o conteúdo horizontalmente */
    align-items: space-around; /* Centraliza o conteúdo verticalmente */
    width: 100%;
    height: auto; /* Define uma altura para que o container*/
    margin: 0%; /* Define a espessura da margem */
    /* border-style: dotted; /* Define o estilo da margem (apenas referência. Tirar do produto final) */
    /* background-image: url('../image/back-school-seamless-pattern_1085-140.jpg'); /* Caminho para tua imagem defundo */    
    /* color: rgb(255, 255, 255); */
  }

  .login-formulario {
    height: auto; /* Defina um altura para o form (ex: 50% da tela) */
    margin-left: auto; /* Define a margem esquerda como automática */
    margin-right: auto; /* Define a margem direita como automática */
    /* Ou pode ser escrito como: margin: 0 auto; */    
    border: solid green; /* Define a cor da borda */
    border-radius: 1vh;    /* Arredonda todos os quatro cantos com um raio de 15px */    
    /* background-color: rgb(10, 125, 226); /* Define a cor de fundo do formulário */
    background-image: url('/img/style/seamless/Avodire.jpg'); /* Caminho para tua imagem defundo */
    padding: 2vh;
    text-align: center;
    
  }
  .login-input {
    width: 75%; /* Define a largura */
    height: 1.5em; /* Define a altura */
    padding: 10px; /* Adiciona um espaço interno */
    background-color: rgb(222, 236, 249); /* Define a cor de fundo da caixa de entrada */
    border-radius: 1vh;    /* Arredonda todos os quatro cantos com um raio de 15px */
  }
  .login-formulario-button{
    width: 20em; /* Define a largura */
    height: auto; /* Define a altura */
    margin: 1em; /* Define o a espessura da margem */
    padding: 0.3em; /* Adiciona um espaço interno */
    background-color: rgb(205, 230, 255); /* Define a cor de fundo da caixa de entrada */
    border-radius: 10px;    /* Arredonda todos os quatro cantos com um raio de 15px */
    border-width: 10px;
    border-color: #9e9e9e #909090 #000 #a5a5a5;
    background-color: rgb(238, 240, 236);

  }
  .login-imagem-div{
    width: 100%; /* Define a largura */
  }
  .login-imagem-profile{    /* Estilo da imagem do perfil*/
    width: 10em; /* Define a largura da imagem */
    height: auto; /* Define a altura da imagem */

  }


/* Atalho para a recuperação de senha */
  .link-discreto, .link-atalho{
    color: black; /* Cor de texto padrão e discreta */
    /* background-color: rgb(229, 251, 253) ; */
    text-decoration: none; /* Remove o sublinhado padrão */
    border: 1em;
    border-radius: 0.3em;
    box-shadow: 0 4px 8px rgba(66, 255, 214, 0.1); /* Sombra suave com desfoque */    
    /* background: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);*/
    padding: 0.2em 0.5em; /* Um pequeno espaçamento interno */
    cursor: pointer; /* Indica que é clicável */
  }
  .link-discreto{
    font-size: 0.5em; /* Tamanho da fonte menor */
  }
  .link-discreto:hover {
    color: #007bff; /* Muda a cor ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
  }
  .link-atalho{
    font-size: 1em; /* Tamanho da fonte menor */
  }
  /* --------------------------------------------------------------------------------------------------------- */

/* Estilo para a verificação de senhas ----------------------------------------------------------------------- */
/* Style all input fields */

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  color: #000;
  position: relative;
  padding: 2px;
  margin-top: 1px;
  background-color: lightgray;
}

#message p {
  padding: 10px 25px;
  font-size: 16px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
} 
/* --------------------------------------------------------------------------------------------------------- */