<!-- Fragmento apenas para o Link do CSS -->
<th:block th:fragment="header-css">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</th:block>

<!-- Fragmento apenas para o conteúdo HTML -->
<header th:fragment="header">
    <div class="header-container">
        <div class="elemento-esquerda">
            <!-- <img src="img/vecteezy_shield-and-crown_36642633.svg" alt="Logo da Empresa" class="logo"> -->
            <!-- O Spring entende que o caminho começa em src/main/resources/static/ -->
            <img th:src="@{/img/FatecFV.jpeg}" alt="Fatec-FV" class="logo">
        </div>
        <div class="elemento-centro-pai">
            <div class="elemento-centro-topo">
                <ul class="navbar">
                    <li><a href="/">&#127968 Principal</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
