<div th:fragment="recursiveField(valor)">
    <!-- 1. Se for nulo -->
    <span th:if="${valor == null}" class="text-muted">---</span>

    <!-- 2. Se NÃO for nulo -->
    <th:block th:if="${valor != null}">
        
        <!-- CASO A: É uma Lista/Coleção (Transforma em Dropdown) -->
        <div th:if="${valor instanceof T(java.util.Collection)}">
            <!-- Se a lista estiver vazia -->
            <span th:if="${valor.isEmpty()}" class="text-muted">Nenhum registro</span>
            
            <!-- Se tiver itens, cria o select -->
            <select th:unless="${valor.isEmpty()}" class="form-select-sm" style="max-width: 200px;">
                <option th:each="subItem : ${valor}" 
                        th:text="${subItem}" 
                        th:value="${subItem}">
                </option>
            </select>
        </div>


        <!-- CASO B: É um tipo simples ou Objeto de Domínio -->
        <!-- Usamos o th:text direto. O Java usará o método .toString() automaticamente -->
        <span th:if="${!(valor instanceof T(java.util.Collection))}"
            th:text="${valor}">
        </span>

    </th:block>
</div>
