<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
    xmlns:layout="http://ultraq.net.nz"
    layout:decorate="~{layouts/main-layout}">
<head>
    <title>Cadastrar </title>
    <!-- Se quiser um CSS específico só para esta página -->
    <!-- <link rel="stylesheet" th:href="@{/css/sobre.css}">-->
    <!-- Importamos o script que interceptará o submit e enviará como PUT -->
    <script th:src="@{/js/create.js}" defer></script>
</head>
<body>

    <!-- Note que NÃO incluímos o bloco 'aside-content' aqui.
        Isso fará com que o aside suma e o main ocupe 100% da largura. -->

    <section layout:fragment="content">
        <div class="container mt-4">
            <h2 th:text="${title + ': ' + entidadeNome}"></h2>
            <hr>

            <!-- Iteramos sobre a lista 'colunas' (que é sua List<IEntity>) -->
            
                <form class="row g-3 create-form">
                    
                    <!-- Campos ocultos essenciais para o funcionamento do Update -->
                    <input type="hidden" name="entity" th:value="${entidadeNome}">
                    <!-- Iteramos sobre os nomes das colunas extraídas por reflexão -->
                    <!-- O th:if garante que o ID não apareça como um campo de texto editável -->
                    <div th:each="coluna : ${colunas}" th:if="${!#strings.equalsIgnoreCase(coluna, 'id')}" class="col-md-6">
                        <label th:for="${coluna}" class="form-label" th:text="${#strings.capitalize(coluna)}">Campo</label>
                        
                        <!-- A "mágica" do Thymeleaf: obj['nomeDaVariavel'] acessa o getter automaticamente -->
                        <input type="text"
                            class="form-control"
                            th:id="${coluna}"
                            th:name="${coluna}"
                            th:value="${''}"
                            >
                    </div>

                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
        </div>
    </section>

</body>
</html>
